<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />   
</head>
<body>
    <header>
        <h1>Hello Yougnjin Kwak World !</h1>
        <h1>Youngjin Kwak</h1>
         <br />
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Show the song!", "SongForm", "Home")
        @Html.ActionLink("Persons", "CreatePerson", "Home")
     </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <br />
        <div 
            class="question-container"    
        >
            <div
                class="question-container--title"    
            >
                a. Short description of what layout does
            </div>
            <div
                class="question-container--answer"    
            >
                The layout view allows you to define a common site template, <br />
                which can be inherited in multiple views to provide a consistent look and feel in multiple pages of an application 
            </div>
        </div>
         <div 
            class="question-container"    
        >
            <div
                class="question-container--title"    
            >
                b. Why you put the files in those directories. E.g. CSS in directory x, and why. Layout in directory Y and why. Etc. 
            </div>
            <div
                class="question-container--answer"    
            >
                I put the css files in wwwroot folder that stores all of the static files in project.
                I put the layouts in Shared folder that handles layout for all pages
                I put Models like Person in Models folder that manage the data models in project
                I put HomeControllers in Controllers/Home, because Homecontroller is relative with home views and it is one of controllers

            </div>
        </div>
         <div 
            class="question-container"    
        >
            <div
                class="question-container--title"    
            >
                c. You should not include the content of css or how you defined your css
            </div>
            <div
                class="question-container--answer"    
            >
                I used the link html tag in header
            </div>
        </div>
    </footer>
</body>
</html>
